.top-section {
    width: 100%;
    height: 60vh;
    text-align: center;
    
    
}
.top-section img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      
}


.cover-img {
    object-fit: cover;
    width: 100%;
    height: 50vh;
}

.logo{
    width: 100%;
}

.intro {
    margin-top:0px ;
    padding: 100px 0px;
    font-family: 'Montagu Slab', serif;
    text-align: center;
    color: #f3f0e2;
    background-color: black;
}
.intro h1{
    color: #dfc984;

}
.intro p{
    font-family: "Lato",sans-serif,Times,Serif;
    line-height: 1.7;
    font-size: 17px;
    height: 100%;
    font-weight: normal;
    position: relative;

    color: #f3f0e2;
}


.news {

    padding: 100px 0px;
    font-family: 'Montagu Slab', serif;
    text-align: center;
    color: #f3f0e2;
    background-color: black;
}
.news h1{
    color: #dfc984;

}
.news p{
    font-family: "Lato",sans-serif,Times,Serif;
    line-height: 1.7;
    font-size: 17px;
    height: 100%;
    font-weight: normal;
    position: relative;

    color: #f3f0e2;
}

.map{
    height: 500px;
    background: black;
    padding: 10px;
    
}

.map .leaflet-container{
    height: 100%;
    
}



.social-links{
    text-align: center;
    margin: 5px;
}

.social{
    font-size: 40px;
    padding: 10px;
}

footer div:nth-child(4){
    text-align: right;
}

a{
    color: gray;
    text-decoration: none;
}

a:hover{
    //color: black;
}

.menu_options{
    padding: 80px 60px;
    font-family: 'Montagu Slab', serif;
    text-align: center;
    color: black;
    background-color: #dfc984;

}

.intro h3 {}

.question {
  border: 2px solid rgb(240, 240, 240);
  padding: 7px;
}
.question h6 {
  text-transform: none;
  margin: 0;
}
.question p {
  color: var(--clr-grey-3);
  margin-top: 5px;
  margin-bottom: 0;
}
.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.about .top-section{
    background: url('./img/img-1.jpeg');
    height: 92vh;
}

.about .top-section .panel{
    width: 50vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.panel .intro{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about .top-section .panel .intro h2{
    text-align: center;
}

.services{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.services .icons{
    width: 50px;
}

.services .icons:hover{
    filter: drop-shadow(0 10px 10px black);
}

.hours{
    white-space: pre;
}

.service-select li{
    text-align: center;
}

.service-select li:hover{
    filter: drop-shadow(0 10px 10px gray);
}

.obviousLink{
    text-decoration: underline;
    font-weight: 500;
}