.top-section {
    width: 100%;

    height: 100%;
}


.cover-img {
    object-fit: cover;
    width: 100%;
    height: 50vh;
}

.logo{
    width: 100%;
}

.intro {

    /* margin-top:20px ; */
    padding: 100px 0px;
    font-family: 'Montagu Slab', serif;
    text-align: center;
    color: #f3f0e2;
    background-color: black;
}
.intro h1{
    color: #dfc984;

}
.intro p{
    font-family: "Lato",sans-serif,Times,Serif;
    line-height: 1.7;
    font-size: 17px;
    height: 100%;
    font-weight: normal;
    position: relative;

    color: #f3f0e2;
}


.news {

    padding: 100px 0px;
    font-family: 'Montagu Slab', serif;
    text-align: center;
    color: #f3f0e2;
    background-color: black;
}
.news h1{
    color: #dfc984;

}
.news p{
    font-family: "Lato",sans-serif,Times,Serif;
    line-height: 1.7;
    font-size: 17px;
    height: 100%;
    font-weight: normal;
    position: relative;

    color: #f3f0e2;
}

.map{
    height: 500px;
    background: black;
    padding: 10px;
    
}

.map .leaflet-container{
    height: 100%;
    
}



.social-links{
    text-align: center;
    margin: 5px;
}

.social{
    font-size: 40px;
    padding: 10px;
}

footer div:nth-child(4){
    text-align: right;
}

a{
    color: gray;
    text-decoration: none;
}

a:hover{
   /*color: black;*/
}

.menu_options{
    padding: 80px 60px;
    font-family: 'Montagu Slab', serif;
    text-align: center;
    color: black;
    background-color: #dfc984;

}

.intro h3 {}

.item {
  border: 2px solid rgb(240, 240, 240);
  padding: 7px;
}
.item h6 {
  text-transform: none;
  margin: 0;
}
.item p {
  color: var(--clr-grey-3);
  margin-top: 5px;
  margin-bottom: 0;
}
.item header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.about .top-section{
    background: url('./img/img-1.jpeg');
    height: 92vh;
}

.about .top-section .panel{
    width: 50vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.panel .info{
    color: black;
    white-space: pre-wrap;
    overflow-y: auto;
}

.about .top-section .panel .intro h2{
    text-align: center;
}

@media screen and (max-width: 767px){
    .about .top-section .panel{
        width: 80vw;
    }
}

.services{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.services .icons{
    width: 50px;
}

.services .icons:hover{
    filter: drop-shadow(0 10px 10px black);
}

.hours{
    white-space: pre;
}
.hours li p{
    display: inline-block;
}
.hours p.days{
    width: 120px;
}
.service-select li{
    text-align: center;
}

.service-select li:hover{
    filter: drop-shadow(0 10px 10px gray);
}

.obviousLink{
    text-decoration: underline;
    font-weight: 500;
}

/*********************************************************************************************************/
/******************************************Admin Portal Styling*******************************************/
.login #b_login{
    margin-top: 20px;
}
.admin .sidenav {
    height: 100%;
    width: 15%;
    min-width: 130px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(36, 35, 27);
    overflow-x: hidden;
    padding: 20px 10px;
}
    .admin .sidenav .header, hr{
        color: white;
        text-align: center;
        width: 100%;
    }
    .admin .sidenav .tabs {
        padding: 10px 0;
        margin: 3px 0;
        text-decoration: none;
        font-size: 18px;
        background-color: inherit;
        color: white;
        display: block;
        width: 100%;
        border: none;
        border-radius: 5px;
        transition: all 0.3s;
    }

        .admin .sidenav .tabs:hover, .admin .sidenav .tabs.active {
            background-color: rgb(255, 255, 255, 0.1);
        }

    .admin .sidenav #b_logout{
        margin-top: 100%;
    }

.admin .main {
    margin-left: max(15%, 130px); /* Same as the width of the sidenav */
    padding: 20px 30px;
}

.admin .main fieldset{
    margin: 20px;
}

.admin .main .b_save{
    float: right;
}

@media screen and (max-height: 450px) {
    .admin .sidenav {padding-top: 15px;}
    .admin .sidenav a {font-size: 18px;}
}

.hide{
    display: none;
} 

/***************************************************************************************************/
/*Custom Scroll bar*********************************************************************************/
.vertical-scroll::-webkit-scrollbar {
    width: 10px;
    height: 1em;
  }
  
  .vertical-scroll::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100vw;
    margin-block: 0.5em;
  }
  
  .vertical-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100vw;
  }
  
  .vertical-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
