.nav_title{
    font-size: 40px;
    font-family: "bauer";
    color: #f3f0e2 !important;
}

.nav_list{
    color: #f3f0e2 !important;
    font-size: 25px !important;
    font-family: "bauer";
    height: auto;
}
