.nav_title{
    font-size: 50px;
    font-family: "bauer";
    color: #f3f0e2 !important;
}

.nav_list{
    color: #f3f0e2 !important;
    font-size: 25px !important;
    font-family: "bauer";
    border-bottom: white solid .8px  !important;
}
#nav-btn{
    
}